utils/ro.stefanprisca.distsystems.utils.login/WebContent/wsdl/defaultloginutils.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DefaultLoginUtilsService" targetNamespace="http://login.utils.distsystems.stefanprisca.ro/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://login.utils.distsystems.stefanprisca.ro/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://login.utils.distsystems.stefanprisca.ro/" schemaLocation="defaultloginutils_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part name="parameters" element="tns:deleteUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsersResponse">
    <wsdl:part name="parameters" element="tns:getUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveUsersResponse">
    <wsdl:part name="parameters" element="tns:saveUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part name="parameters" element="tns:addUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConfStringResponse">
    <wsdl:part name="parameters" element="tns:getConfStringResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part name="parameters" element="tns:deleteUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUser">
    <wsdl:part name="parameters" element="tns:addUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsers">
    <wsdl:part name="parameters" element="tns:getUsers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doLoginResponse">
    <wsdl:part name="parameters" element="tns:doLoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveUsers">
    <wsdl:part name="parameters" element="tns:saveUsers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doLogin">
    <wsdl:part name="parameters" element="tns:doLogin">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConfString">
    <wsdl:part name="parameters" element="tns:getConfString">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ILoginUtils">
    <wsdl:operation name="deleteUser">
      <wsdl:input name="deleteUser" message="tns:deleteUser">
    </wsdl:input>
      <wsdl:output name="deleteUserResponse" message="tns:deleteUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input name="addUser" message="tns:addUser">
    </wsdl:input>
      <wsdl:output name="addUserResponse" message="tns:addUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input name="getUsers" message="tns:getUsers">
    </wsdl:input>
      <wsdl:output name="getUsersResponse" message="tns:getUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveUsers">
      <wsdl:input name="saveUsers" message="tns:saveUsers">
    </wsdl:input>
      <wsdl:output name="saveUsersResponse" message="tns:saveUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doLogin">
      <wsdl:input name="doLogin" message="tns:doLogin">
    </wsdl:input>
      <wsdl:output name="doLoginResponse" message="tns:doLoginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConfString">
      <wsdl:input name="getConfString" message="tns:getConfString">
    </wsdl:input>
      <wsdl:output name="getConfStringResponse" message="tns:getConfStringResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultLoginUtilsServiceSoapBinding" type="tns:ILoginUtils">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="urn:DeleteUser" style="document"/>
      <wsdl:input name="deleteUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="urn:AddUser" style="document"/>
      <wsdl:input name="addUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="urn:GetUsers" style="document"/>
      <wsdl:input name="getUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveUsers">
      <soap:operation soapAction="urn:SaveUsers" style="document"/>
      <wsdl:input name="saveUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doLogin">
      <soap:operation soapAction="urn:DoLogin" style="document"/>
      <wsdl:input name="doLogin">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="doLoginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConfString">
      <soap:operation soapAction="urn:GetConfString" style="document"/>
      <wsdl:input name="getConfString">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getConfStringResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DefaultLoginUtilsService">
    <wsdl:port name="DefaultLoginUtilsPort" binding="tns:DefaultLoginUtilsServiceSoapBinding">
      <soap:address location="http://localhost:8080/ro.stefanprisca.distsystems.utils.login/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
