utils/WebContent/wsdl/defaultloginutils_schema1.xsd

<xs:schema xmlns:tns="http://login.utils.distsystems.stefanprisca.ro/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://login.utils.distsystems.stefanprisca.ro/" version="1.0">

  <xs:element name="getConnectConfirmation" type="tns:getConnectConfirmation"/>

  <xs:element name="getConnectConfirmationResponse" type="tns:getConnectConfirmationResponse"/>

  <xs:complexType name="getConnectConfirmation">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getConnectConfirmationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
